@import "tailwindcss";

:root {
  font-family: "Inter", sans-serif;
}

@keyframes blurIn {
  0% { filter: blur(1.5px); opacity: 0.5; }
  100% { filter: blur(0px); opacity: 1; }
}

.animate-blur-in {
  animation: blurIn 150ms ease-out;
}

